.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	    font-weight: 300;
    color: #85919d;
	width:100%;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.9rem 1.25rem;
	height:50px;
	margin-bottom:-8px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}




/* style 2 */

.inputfile-2 + label {
	 border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; outline:none;
    border: 1px solid #cacaca;
	background:#fff;
	margin-top:15px;
	  font-weight: 300;
    color: #85919d;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #c62026;
	border: 1px solid #c62026; outline:none;
}






