@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {font-family: "Roboto", Arial, sans-serif;  font-size: 16px;  line-height: 28px;  font-weight: 300;  color: #85919d;  height: 100%;  position: relative;}
body.gallotti_overflow {overflow-x: auto;}
a {color: #01a651;  -webkit-transition: 0.5s;  -o-transition: 0.5s;  transition: 0.5s;}
a:hover, a:active, a:focus { color: #01a651; outline: none; text-decoration: none;}
p, figure {margin-bottom: 1.5em;}
h1, h2, h3, h4, h5, h6 {color: #484c50; font-family: "Roboto", Arial, sans-serif;  font-weight: 400;  margin: 0 0 30px 0;}
::-webkit-selection { color: #818892;  background: #f9f6f0;}
::-moz-selection {  color: #818892;  background: #f9f6f0;}
::selection {  color: #818892;  background: #f9f6f0;}
.btn {margin-right: 4px;  margin-bottom: 4px;  font-family: "Roboto", Arial, sans-serif;  font-size: 16px;  font-weight: 400;  -webkit-border-radius: 4px;  -moz-border-radius: 4px;  -ms-border-radius: 4px;  border-radius: 4px;  -webkit-transition: 0.5s;  -o-transition: 0.5s;  transition: 0.5s;}
.btn.btn-md {  padding: 10px 20px;}
.btn.btn-lg {  padding: 18px 36px;}
.btn:hover, .btn:active, .btn:focus { box-shadow: none;  outline: none;}
.btn-primary {  background: #c72127;  color: #fff;  border: 2px solid #c72127;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {  background: #00a651;  border-color: #00a651;}
.btn-primary.btn-outline {  background: transparent;  color: #8dc63f;  border: 2px solid #8dc63f;}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {  background: #8dc63f;  color: #fff;}
.btn-info:hover, .btn-info:focus, .btn-info:active {  background: #46b8da;  border-color: #46b8da;}
.btn-info.btn-outline {  background: transparent;  color: #5bc0de;  border: 2px solid #5bc0de;}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {  background: #5bc0de;  color: #fff;}



.boxed #gallotti_page {  max-width: 1340px;  max-width: 1140px;  margin: 0 auto;  background: #fff;  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  -ms-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  -o-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);}

@media screen and (max-width: 1200px) { 
.boxed #gallotti_page {    max-width: 1060px;    max-width: 960px; }
}
.boxed #gallotti_page .container { max-width: 1140px;  max-width: 960px;  margin: 0 auto;}

@media screen and (max-width: 1200px) {
.boxed #gallotti_page .container { max-width: 960px;  max-width: 780px; }
}
#gallotti_header {  position: absolute;  width: 100%;  height:168px;  left: 0;  padding-top: 50px;  z-index: 12;  background: url(../imgs/bg_menu.png) center top no-repeat;}

@media screen and (max-width: 768px) {
#gallotti_header {padding-top: 30px;}
}
#gallotti_header #gallotti_logo { text-align: center;  display: block;  position: absolute;  width: 100%;  left: 0;  top: -32px;  z-index: 1;}

@media screen and (max-width: 768px) {
#gallotti_header { padding-top: 30px;}
#gallotti_header #gallotti_logo { top: -12px;}
}
#gallotti_header #gallotti_logo a {font-size: 30px; font-weight: 500; color: white;}
#gallotti_header #gallotti_logo a span {color: #8dc63f;}
#gallotti_header nav {position: relative;}
#gallotti_header nav ul {padding: 0;  margin: 0;  z-index: 2;  position: relative;}
.descricao_destaque {font-size:21px; line-height:31px; margin-top:20px;}

@media screen and (max-width: 991px) {
#gallotti_header {  background: none;}
#gallotti_header nav ul { display: none;  }
}
#gallotti_header nav ul li {display: inline;}
#gallotti_header nav ul li a {font-size: 18px; color: rgba(88, 89, 91, 1); font-weight: 400;}
#gallotti_header nav ul li a:hover {color: #ca2329;}
#gallotti_header nav ul li.fh5co-cta-btn a {position: relative;  border-bottom: none;  padding: 7px 20px;  border: 2px solid rgba(255, 255, 255, 0.5);  -webkit-border-radius: 7px;  -moz-border-radius: 7px;  -ms-border-radius: 7px;  border-radius: 7px;}
#gallotti_header nav ul li.fh5co-cta-btn a:hover { border: 2px solid white;}
#gallotti_header nav ul li.active a {  color: white;}
#gallotti_header nav ul.left-menu li {  margin-right: 30px;}
#gallotti_header nav ul.right-menu li {  margin-left: 30px;}
#gallotti_main {  background-color: transparent;  background-size: cover;  background-attachment: fixed;  background-repeat: no-repeat;  position: relative;  width: 100%;}

@media screen and (max-width: 480px) {
#gallotti_main { height: 450px; }
.descricao_destaque {font-size:14px; }
}

@media screen and (max-width: 992px) {
#gallotti_header nav ul.left-menu li {
  margin-right: 10px;
}
#gallotti_header nav ul.right-menu li {
  margin-left: 10px;
}
}

#gallotti_main .gallotti_overlay {  position: absolute;  top: 0;  left: 0;  right: 0;  bottom: 0;  background: #2a2d36;  opacity: .54;  z-index: 9;}
#gallotti_main .gallotti_destaque {  display: table;  width: 100%;  z-index: 10;  position: relative;}

@media screen and (max-width: 480px) {
#gallotti_main .gallotti_destaque { height: 450px; }
}
#gallotti_main .gallotti_destaque > div {  vertical-align: middle;  display: table-cell;}
#gallotti_main .gallotti_destaque > div .gallotti_left_position {  width: 65%;  float: left;}

@media screen and (max-width: 320px) {
#gallotti_main .gallotti_destaque > div .gallotti_left_position {  width: 65%;  margin-top:100px;}
}

@media screen and (max-width: 992px) {
 #gallotti_main .gallotti_destaque > div .gallotti_left_position { width: 100%;}
}

#gallotti_main .gallotti_destaque > div .gallotti_center_position { width: 65%; text-align: center; margin: 0 auto;}

@media screen and (max-width: 992px) {
#gallotti_main .gallotti_destaque > div .gallotti_center_position { width: 100%; text-align: center;}
}  

.gallotti_center_position { width: 100%; text-align: center;}
.gallotti_center_position  .btn-primary {padding: 10px 30px; min-width: 300px; font-size: 18px; margin-top:30px;}
#gallotti_main .gallotti_destaque > div .gallotti_right-position {width: 65%; float: right; text-align: right;}

@media screen and (max-width: 992px) {
#gallotti_main .gallotti_destaque > div .gallotti_right-position { width: 100%; text-align: left;}
}

#gallotti_main .gallotti_destaque > div h2 {font-size: 70px; line-height: 87px; font-weight: 100; color: white;}

@media screen and (max-width: 992px) {
#gallotti_main .gallotti_destaque > div h2 {font-size: 40px; line-height: 57px; text-align: center;}
}

#gallotti_main .gallotti_destaque > div h3 {font-weight: 100;  font-size: 30px; line-height: 45px;color: white;}

@media screen and (max-width: 992px) {
  #gallotti_main .gallotti_destaque > div h3 { font-size: 24px;line-height: 37px; text-align: center; }
}

#gallotti_main .gallotti_destaque > div .btn-outline, #gallotti_main .gallotti_destaque > div .btn-primary {padding: 10px 30px; min-width: 200px; font-size: 18px;}

@media screen and (min-width:720px) and (max-width: 992px){
#gallotti_main .gallotti_destaque > div .btn-outline, #gallotti_main .gallotti_destaque > div .btn-primary { margin-left:35%;}
}

@media screen and (min-width:480px) and (max-width: 719px){
#gallotti_main .gallotti_destaque > div .btn-outline, #gallotti_main .gallotti_destaque > div .btn-primary {margin-left:30%;}
}

@media screen and (max-width: 480px) {
#gallotti_main .gallotti_destaque > div .btn-outline, #gallotti_main .gallotti_destaque > div .btn-primary {padding: 10px 30px; width: 100%;}
}

#gallotti_main .gallotti_destaque > div .btn-outline {border-color: rgba(255, 255, 255, 0.2); color: white;  background-color: rgba(255, 255, 255, 0.1);}
#gallotti_main .gallotti_destaque > div .btn-outline:hover {border-color: rgba(255, 255, 255, 0.4);  color: white;  background-color: rgba(255, 255, 255, 0.2);}
#gallotti_main .gallotti_leia_mais {position: absolute;  bottom: -25px;  left: 50%;  z-index: 12;  text-align: center;}
#gallotti_main .gallotti_leia_mais a {display: block;}
#gallotti_main .gallotti_leia_mais a .text {display: block; color: rgba(255, 255, 255, 0.5); margin-bottom: 20px;}
#gallotti_main .gallotti_leia_mais a .arrow {display: block; width: 50px; height: 50px; margin: 0 auto; background: #c72127; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%;
}
#gallotti_main .gallotti_leia_mais a .arrow i {top: 10px; position: relative; color: #fff; vertical-align: middle;}
.no-js-fullheight {height: 620px;}

@media screen and (max-width: 768px) {
.no-js-fullheight { height: inherit;  padding: 3em 0; }
}

.gallotti_tit {font-size: 50px; font-weight: 300; color: #484c50;  margin-bottom: 10px;}

@media screen and (max-width: 768px) {.gallotti_tit {font-size: 35px;}
}

.gallotti_sub_tit {font-size: 18px; line-height: 32px;  font-weight: 300;}
#gallotti_clientes,#gallotti_conteudo,#gallotti_aempresa,#gallotti_contato,#gallotti_rodape {background-color: #fff;  padding: 7em 0;}

@media screen and (max-width: 768px) {
#gallotti_clientes,#gallotti_conteudo,  #gallotti_aempresa,  #gallotti_contato, #gallotti_rodape {padding: 3em 0;}
}

#gallotti_conteudo {background: #f9f9f9;}
#gallotti_conteudo .gallotti_tit {font-size: 50px; font-weight: 300; color: #484c50; margin-bottom: 10px;}

@media screen and (max-width: 768px) {
#gallotti_conteudo .gallotti_tit {font-size: 35px;}
}

#gallotti_conteudo .gallotti_sub_tit {font-size: 18px; line-height: 32px; font-weight: 300;}
#gallotti_conteudo .gallotti_servico_home {display: block; width: 100%; position: relative; background: #fff; overflow: hidden; z-index: 9;  margin-bottom: 30px;  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  -ms-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  -o-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);  -webkit-border-radius: 7px;  -moz-border-radius: 7px;  -ms-border-radius: 7px;  border-radius: 7px;  -webkit-transition: 0.3s;  -o-transition: 0.3s;  transition: 0.3s;}
#gallotti_conteudo .gallotti_servico_home img { z-index: 8;  opacity: 1;  -webkit-transition: 0.3s;  -o-transition: 0.3s;  transition: 0.3s;}
#gallotti_conteudo .gallotti_servico_home .gallotti_textos { padding: 30px 10px 10px 20px; text-align: center;}
#gallotti_conteudo .gallotti_servico_home .gallotti_textos h2, #gallotti_conteudo .gallotti_servico_home .gallotti_textos span { text-decoration: none;}
#gallotti_conteudo .gallotti_servico_home .gallotti_textos h2 { font-size: 18px; font-weight: bold; margin: 0 0 10px 0; color: #484c50;}
#gallotti_conteudo .gallotti_servico_home .gallotti_textos span {color: #b3b3b3; font-size: 16px; font-weight: 400;}
#gallotti_conteudo .gallotti_servico_home .gallotti_textos p {  color: #85919d;  -webkit-transition: 0.5s;  -o-transition: 0.5s;  transition: 0.5s;}
#gallotti_conteudo .gallotti_servico_home:hover, #gallotti_conteudo .gallotti_servico_home:focus { -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);  -ms-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);  -o-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);  text-decoration: none;}
#gallotti_conteudo .gallotti_servico_home:hover img, #gallotti_conteudo .gallotti_servico_home:focus img {  opacity: .7;}
#gallotti_conteudo .gallotti_servico_home:hover h2, #gallotti_conteudo .gallotti_servico_home:hover span, #gallotti_conteudo .gallotti_servico_home:focus h2, #gallotti_conteudo .gallotti_servico_home:focus span {
  text-decoration: none;}
#gallotti_conteudo .gallotti_servico_home:hover p, #gallotti_conteudo .gallotti_servico_home:focus p { color: #484c50;}
#gallotti_clientes .gallotti_certificado {margin-bottom: 40px; margin-top:-70px;}
#gallotti_clientes .gallotti_certificado img { margin: 0 auto;}
#gallotti_clientes .gallotti_tit { font-size: 50px;  font-weight: 300;  color: #484c50;  margin-bottom: 50px;}
.marginbottom {bottom:100px;}

@media screen and (max-width: 768px) {
#gallotti_clientes .gallotti_tit { font-size: 35px;}
}

#gallotti_clientes .gallotti_sub_tit {font-size: 18px; line-height: 32px; font-weight: 300;}
#gallotti_clientes .gallotti_cliente { text-align: center; padding-left: 20px; padding-right: 20px;  margin-bottom: 30px;  width: 100%;}

@media screen and (max-width: 768px) {
#gallotti_clientes .gallotti_cliente { padding-left: 0px; padding-right: 0px;}
}

#gallotti_clientes .gallotti_cliente .gallotti_logo_cliente {width: 112px;  height: 112px;  display: table;  margin: 0 auto 30px auto;}
#gallotti_clientes .gallotti_cliente .gallotti_logo_cliente i { position: relative;  top: -1px;  display: table-cell;  vertical-align: middle;  font-size: 50px;  color: #8dc63f;}
#gallotti_clientes .gallotti_cliente h3 { font-size: 20px;  margin-bottom: 10px;}

@media screen and (max-width: 768px) {
#gallotti_clientes .gallotti_cliente .gallotti_logo_cliente img {width: 300px; height: 218px; display: table; margin: 0 auto 30px auto;}
}

#gallotti_aempresa .redes_sociais a {font-size: 35px; color: #01a651;}
#gallotti_aempresa .redes_sociais a:hover { color: #01a651;}
#gallotti_aempresa .gallotti_tit { font-size: 50px; font-weight: 300;  color: #484c50;  margin-bottom: 30px;}
.gallotti_servicos_lista {text-align: left;}


@media screen and (max-width: 768px) {
#gallotti_aempresa .gallotti_tit {font-size: 35px;}
}

#gallotti_aempresa .gallotti_sub_tit {font-size: 18px;  line-height: 32px;  font-weight: 300;}
#gallotti_aempresa .flexslider { background: transparent;  border: none;  -webkit-border-radius: 0;  -moz-border-radius: 0;  -ms-border-radius: 0;  border-radius: 0;}
#gallotti_contato {  background: #f9f9f9;  padding: 3em 0;}
#gallotti_contato h3 {  float: left;  width: 30%;  top: 10px;  font-size: 26px;  margin-bottom: 0;  position: relative;}
#gallotti_contato h3 label {  font-weight: 300;}

@media screen and (max-width: 992px) {
#gallotti_contato h3 {width: 100%; margin-bottom: 30px;}
}

#gallotti_contato form {width: 60%; float: right; position: relative;}

@media screen and (max-width: 992px) {
  #gallotti_contato form {
    width: 100%;
  }
}

#gallotti_contato form .gallotti_logo_cliente {position: absolute; top: 50%; margin-top: -10px;  left: 15px;  font-size: 20px;}

@media screen and (max-width: 480px) {
#gallotti_contato form .gallotti_logo_cliente { position: absolute; top: 26px;  }
}

#gallotti_rodape { background:#c72127; padding-bottom: 0;}
#gallotti_rodape a {color: #6a7885;}
#gallotti_rodape a:hover { text-decoration: underline;}

@media screen and (max-width: 992px) {
#gallotti_rodape .gallotti_rodape_cln { margin-bottom: 30px;  float: left;  width: 100%; }
.gallotti_rodape-contato {margin-bottom: 30px; float: left; width: 100%;}
}

#gallotti_rodape .gallotti_rodape_cln h3 {font-size: 18px; font-weight: 400; color:#FFF;}
.gallotti_rodape-contato h3 {font-size: 18px; font-weight: 400; color:#FFF;}
#gallotti_rodape .gallotti_rodape_cln .gallotti_rodape_links {padding: 0;  margin: 0;}
.gallotti_rodape-contato .gallotti_rodape_links { padding: 0;  margin: 0;}
#gallotti_rodape .gallotti_rodape_cln .gallotti_rodape_links li {padding: 0; margin: 0; list-style: none;  margin-bottom: 15px;  line-height: 24px;}
.gallotti_rodape-contato .gallotti_rodape_links li {  padding: 0;  margin: 0;  list-style: none;  margin-bottom: 15px;  line-height: 24px;}
#gallotti_rodape .gallotti_rodape_cln .gallotti_rodape_links li a { color: #fff;}
.gallotti_rodape-contato .gallotti_rodape_links li a { color: #fff;}
#gallotti_rodape .gallotti_rodape_cln a {color: #fff;}
#gallotti_rodape .gallotti_rodape_cln p {color: #fff;}
.gallotti_rodape-contato a {color: #838383;}
.gallotti_rodape-contato p {font-size:22px; color: #838383; line-height:40px;}
.right {float:right;}
#gallotti_rodape .gallotti_rodape_cln .gallotti_rodape_links li a:hover { text-decoration: underline;}
.gallotti_rodape-contato .gallotti_rodape_links li a:hover { text-decoration: underline;}
#gallotti_rodape .gallotti_assinatura {border-top:2px solid #fff;  padding: 40px 0;}
#gallotti_rodape .gallotti_assinatura a { font-weight: 700;}
#gallotti_rodape .gallotti_assinatura p {margin-bottom: 0;}
#gallotti_rodape .gallotti_assinatura p small {  font-size: 15px;}
#gallotti_rodape .gallotti_assinatura .gallotti_left { float: left;  color:#FFF;}
#gallotti_rodape .gallotti_assinatura .gallotti_right { float: right;}

@media screen and (max-width: 768px) {
#gallotti_rodape .gallotti_assinatura .gallotti_right { float: left;}
.gallotti_rodape-contato p {font-size:19px;}
}

.goweb {float:right;}
.redes_sociais {padding: 0;  margin: 0;}
.redes_sociais li { padding: 0;  margin: 0;  display: inline;}
.redes_sociais li a {  padding: 4px 7px;  font-size: 22px;}
.redes_sociais li a:hover { text-decoration: none;  color: #01a651;}
.gallotti_galeria {  text-align: center;}

@media screen and (max-width: 992px) {
.gallotti_galeria { margin-bottom: 30px;  float: left;  width: 100%;}
}

.gallotti_galeria figure { margin: 0 auto 30px auto;}
.gallotti_galeria figure img {  margin: 0 auto;  display: block;}
.gallotti_galeria .gallotti_subtitulo_interna {  margin-bottom: 0;  color: #484c50;}
#gallotti_offcanvas, .gallotti_nav_menu, #gallotti_page { -webkit-transition: 0.5s;  -o-transition: 0.5s;  transition: 0.5s;}
#gallotti_offcanvas, .gallotti_nav_menu, #gallotti_page {  position: relative;}
#gallotti_page {  z-index: 2;  -webkit-transition: 0.5s;  -o-transition: 0.5s;  transition: 0.5s;}
.offcanvas-visible #gallotti_page {  -moz-transform: translateX(-275px);  -webkit-transform: translateX(-275px);  -ms-transform: translateX(-275px);  -o-transform: translateX(-275px);  transform: translateX(-275px);}
#gallotti_offcanvas {  display: none;  height: 100%;  right: 0;  overflow-y: auto;  position: fixed;  z-index: 1;  top: 0;  width: 275px;  background: #c72127;  padding: 30px;}
.iso {font-size:12px; padding-top:10px; color:#ca2329;}
#gallotti_offcanvas ul {  padding: 0;  margin: 0;}
#gallotti_offcanvas ul li {  padding: 0;  margin: 0 0 10px 0;  list-style: none;  line-height: 28px;}
#gallotti_offcanvas ul li a {  font-size: 18px;  color: rgba(255, 255, 255, 0.7);}
#gallotti_offcanvas ul li.active a {  color: #8dc63f;}

@media screen and (max-width: 991px) {
#gallotti_offcanvas {display: block;}
.iso {color:#fff;}
#gallotti_offcanvas ul li a { color: rgba(255, 255, 255, 1);}
}

.gallotti_nav_menu {cursor: pointer; text-decoration: none;}
.gallotti_nav_menu.active i::before, .gallotti_nav_menu.active i::after { background: #fff;}
.gallotti_nav_menu.dark.active i::before, .gallotti_nav_menu.dark.active i::after { background: #fff;}
.gallotti_nav_menu:hover, .gallotti_nav_menu:focus, .gallotti_nav_menu:active { outline: none;  border-bottom: none;}
.gallotti_nav_menu i { position: relative; display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline;  width: 30px;  height: 2px;  color: #fff;  font: bold 14px/.4 Helvetica;  text-transform: uppercase;
text-indent: -55px;  background: #fff;  transition: all .2s ease-out;}
.gallotti_nav_menu i::before, .gallotti_nav_menu i::after { content: ''; width: 30px;  height: 2px;  background: #fff;  position: absolute;  left: 0;  -webkit-transition: 0.2s;  -o-transition: 0.2s;  transition: 0.2s;}
.gallotti_nav_menu.dark i {  position: relative;  color: #000;  background: #000;  transition: all .2s ease-out;}
.gallotti_nav_menu.dark i::before, .gallotti_nav_menu.dark i::after {  background: #000;  -webkit-transition: 0.2s;  -o-transition: 0.2s;  transition: 0.2s;}
.gallotti_nav_menu i::before {top: -7px;}
.gallotti_nav_menu i::after {bottom: -7px;}
.gallotti_nav_menu:hover i::before {top: -10px;}
.gallotti_nav_menu:hover i::after {bottom: -10px;}
.gallotti_nav_menu.active i {background: transparent;}
.gallotti_nav_menu.active i::before {top: 0; -webkit-transform: rotateZ(45deg); -moz-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); -o-transform: rotateZ(45deg); transform: rotateZ(45deg);}
.gallotti_nav_menu.active i::after { bottom: 0; -webkit-transform: rotateZ(-45deg); -moz-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); -o-transform: rotateZ(-45deg); transform: rotateZ(-45deg);}
.gallotti_nav_menu {position: fixed; top: 40px; right: 20px; z-index: 9998; display: block; margin: 0 auto; display: none; cursor: pointer;}

@media screen and (max-width: 991px) {
.gallotti_nav_menu {display: block; top: 20px;}
}

.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {opacity: 0; -webkit-backface-visibility: hidden; /* ideally, transition speed should match zoom duration */ -webkit-transition: all 0.3s ease-out;  -moz-transition: all 0.3s ease-out;  -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.mfp-with-zoom.mfp-ready .mfp-container { opacity: 1;}
.mfp-with-zoom.mfp-ready.mfp-bg { opacity: 0.8;}
.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg {  opacity: 0;}
.col-aempresa iframe { width:100%; height:auto; min-height:600px; border:none;}
.input_contato {float:left; width:100%; height:50px; margin-top:15px; padding:0 15px; border:1px solid #cacaca; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; outline:none;}
.text_contato {float:left; width:100%; min-height:200px; margin-top:15px; padding:0 15px; border:1px solid #cacaca; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;outline:none;}
textarea {resize: vertical;}
.bt_enviar {float:left; width:100%;}
.bt_enviar input[type=submit]{float:left; width:100%; height:60px; background:#c62026; border:none; text-align:center; font-size:18px; text-transform:uppercase; color:#fff; cursor: pointer; float:right;transition:All 0.5s ease;  -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; -o-transition:All 0.5s ease; margin-top:15px; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px;-webkit-appearance: none;}
.bt_enviar input[type=submit]:hover { background:#00a550; border:none; cursor: pointer; color:#FFF;}
.erro_contato {float:left; width:100%; background:#c50000; padding:15px; color:#fff; font-size:18px; margin-bottom:3px;}
.done {float:left; width:100%; text-align:center; font-size:30px; line-height:40px; padding:60px 0}

@media screen and (max-width: 480px) {
.col-xxs-12 { float: none; width: 100%;}
}

.btn-cta {padding: 20px 30px; width: 200px; font-size: 18px;}

@media screen and (max-width: 480px) {
.btn-cta { padding: 10px 30px; width: 100%;}
}

.row-bottom-padded-lg {padding-bottom: 7em;}

@media screen and (max-width: 768px) {
.row-bottom-padded-lg { padding-bottom: 2em;}
}

.row-top-padded-lg {padding-top: 7em;}

@media screen and (max-width: 768px) {
.row-top-padded-lg {padding-top: 2em;  }
}

.row-bottom-padded-md {padding-bottom: 4em;}

@media screen and (max-width: 768px) {
.row-bottom-padded-md {padding-bottom: 2em;  }
}

.row-top-padded-md {padding-top: 4em;}

@media screen and (max-width: 768px) {
.row-top-padded-md {padding-top: 2em;  }
}

.row-bottom-padded-sm {padding-bottom: 2em;}

@media screen and (max-width: 768px) {
.row-bottom-padded-sm {padding-bottom: 2em;}
}

.row-top-padded-sm {padding-top: 2em;}

@media screen and (max-width: 768px) {
.row-top-padded-sm {padding-top: 2em; }
}

.no-js #loader {display: none;}
.js #loader {display: block; position: absolute; left: 100px; top: 0; border: 10px solid red;}
.gallotti_carregando {position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url(../imgs/carregando.gif) center no-repeat #fff;}
.js .animate-box { opacity: 0;}
.img-responsive {margin:0 auto;}

@media screen and (max-height: 321px) {
#gallotti_main .gallotti_destaque > div h2 { font-size: 23px;  line-height: 17px;  text-align: center; }
.descricao_destaque {font-size:14px;}
#gallotti_main .gallotti_leia_mais a .text {margin-bottom: 0px; font-size:12px;}
#gallotti_main .gallotti_leia_mais a .arrow{width: 50px; height: 50px;}
#gallotti_main .gallotti_leia_mais a .arrow i{top:10px;}
.gallotti_destaque_texto {padding-top:90px;}
#gallotti_main .gallotti_destaque > div .btn-outline, #gallotti_main .gallotti_destaque > div .btn-primary {display:none;}
}

@media screen and (min-height:322px) and (max-height: 414px) {
.gallotti_destaque_texto {padding-top:40px;}
#gallotti_main .gallotti_destaque > div .btn-outline, #gallotti_main .gallotti_destaque > div .btn-primary {display:none;}
}